@import 'react-slideshow-image/dist/styles.css';

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;

  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

.circular-btn {
  border-radius: 30px;
  box-shadow: 0px 5px 5px rgba(39, 68, 148, 0.05);
}

.circular-btn:hover {
  background-color: #274494 !important;
}

.summary-card {
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
  width: 80%;
  margin: 0 0 auto auto;
}
